@import "./variables.scss";

.filters {
  position: relative;
  margin-right: 12px;
}

.filterHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;

  img {
    margin-left: 12px;
  }
}

.filterList {
  position: absolute;
  top: calc(100% + 30px);
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  padding: 24px;
  font-weight: 700;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .checkbox {
        border: 2px solid $accent-primary;
      }
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $light-two;
  background-color: $light-two;
  padding: 4px;
  margin-right: 12px;
  border-radius: 4px;
  width: 10px;
  height: 10px;
  transition: all 0.2s ease-in-out;
}
