.filters {
  position: relative;
  margin-right: 12px;
  color: var(--dark);

  img {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  &.filters--open {
    img {
      transform: rotate(0);
    }
  }
}

.filterHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;

  img {
    margin-left: 12px;
  }
}

.filterList {
  position: absolute;
  top: calc(100% + 30px);
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  padding: 24px;
  font-weight: 700;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .checkbox {
        border: 2px solid var(--accent-primary);
      }
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--light-two);
  background-color: var(--light-two);
  padding: 4px;
  margin-right: 12px;
  border-radius: 4px;
  width: 10px;
  height: 10px;
  transition: all 0.2s ease-in-out;

  &.checkbox--selected {
    background-color: var(--accent-primary);
    border: 2px solid var(--accent-primary);
  }
}

@media only screen and (min-width: 768px) {
  .filters {
    margin-right: 24px;

    .filterHeader {
      font-size: 14px;
    }
  }
}
