.container {
  margin-bottom: 24px;

  &.container--error {
    input {
      border: 1px solid var(--accent-secondary);
    }
  }

  label {
    display: block;
    color: var(--accent-primary-light);
    margin-bottom: 12px;
  }

  input {
    width: 100%;
    border: 1px solid var(--light-two);
    background-color: var(--light);
    color: var(--dark);
    border-radius: 4px;
    padding: 12px;
    font-weight: 700;
    box-sizing: border-box;
  }

  .dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid var(--light-two);
    color: var(--dark);
    background-color: var(--light);
    padding: 12px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &.dropdown--open {
      border-color: var(--accent-primary);
      img {
        transform: rotate(0deg);
      }
    }

    .selectedOption {
      font-weight: 700;
    }

    img {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
      user-select: none;
    }

    .options {
      background-color: var(--light);
      box-shadow: var(--box-shadow-strong);
      position: absolute;
      top: calc(100% + 24px);
      right: 0;
      left: 0;
      border-radius: 8px;

      .option {
        font-weight: 700;
        font-size: 14px;
        padding: 18px;
        border-bottom: 1px solid var(--light-two);
        transition: all 0.2s ease-in-out;

        &:hover {
          color: var(--accent-primary);
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .calendarDropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid var(--light-two);
    padding: 12px;
    border-radius: 4px;
    color: var(--dark);
    background-color: var(--light);
    transition: all 0.2s ease-in-out;

    .dropdownIcon {
      width: 16px;
      user-select: none;
    }

    &.calendarDropdown--open {
      border-color: var(--accent-primary);
    }

    &.calendarDropdown--not-relative {
      position: static;
    }

    .selectedOption {
      font-weight: 700;
      user-select: none;
    }
  }
}
