@import "./variables.scss";

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex: 1;

  @media only screen and (min-width: 768px) {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .headerLeft {
    h1 {
      font-size: 18px;
    }

    span {
      color: $light-three;
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
  }

  @media only screen and (min-width: 375px) {
    .headerLeft {
      h1 {
        font-size: 20px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .headerLeft {
      h1 {
        font-size: 32px;
        margin-bottom: 12px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .page {
    flex-direction: row;
  }
}
