@import "./variables.scss";

.invoiceList {
}

.invoice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 24px;
  margin-bottom: 18px;
  padding: 24px;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .invoiceId {
    text-transform: uppercase;
    font-weight: 700;

    span {
      font-weight: 500;
      color: $light-three;
    }
  }

  .arrow {
    display: none;
  }

  .name {
    color: $light-three;
  }

  .priceContainer {
    display: flex;
    flex-direction: column;

    .date {
      color: $light-three;
      margin-bottom: 8px;
    }

    .price {
      font-size: 14px;
      font-weight: 700;
    }
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 6px;
    padding: 12px;
    align-self: center;

    &::before {
      content: "";
      margin-right: 8px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }

  .pending {
    background-color: #ff8f001a;
    color: #ff8f00;

    &::before {
      background-color: #ff8f00;
    }
  }

  .paid {
    background-color: #33d69f24;
    color: #33d69f;

    &::before {
      background-color: #33d69f;
    }
  }

  .draft {
    color: $dark-four;
    background-color: $light-one;

    &::before {
      background-color: $dark-four;
    }
  }

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      display: block;
      width: 8px;
    }

    .name {
    }

    .priceContainer {
      flex-direction: row;

      .date,
      .price {
        margin-bottom: 0;
      }

      .date {
        margin-right: 32px;
      }
    }
  }
}
