.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  .footer {
    button {
      min-width: auto;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .header {
    padding: 24px;
    box-shadow: var(--box-shadow);
    background-color: var(--light);
    border-radius: 6px;
    margin-bottom: 24px;

    .statusContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .statusLabel {
        color: var(--light-three);
        font-size: 14px;
      }
    }

    .actions {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;

      .statusContainer {
        justify-content: flex-start;

        .statusLabel {
          margin-right: 24px;
        }

        .status {
          padding: 12px 24px;
        }
      }

      .actions {
        display: flex;
        column-gap: 12px;
      }
    }
  }

  .details {
    padding: 24px;
    background-color: var(--light);
    box-shadow: var(--box-shadow);
    border-radius: 6px;

    .detailsTop {
      color: var(--light-three);
      margin-bottom: 32px;

      .summary {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        .id {
          font-weight: 700;
          font-size: 14px;
          color: var(--dark);
          margin-bottom: 12px;
          text-transform: uppercase;

          span {
            color: var(--light-three);
          }
        }

        .type {
          font-size: 14px;
        }
      }

      .address {
        font-size: 12px;
        margin-bottom: 24px;

        span {
          display: block;
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .detailsMiddle {
      margin-bottom: 32px;

      .detailGroups {
        display: grid;
        grid-template-areas:
          "date to"
          "payment to"
          "receiver receiver";
        row-gap: 24px;
        column-gap: 12px;
        margin-bottom: 32px;

        .detailsGroup {
          display: flex;
          flex-direction: column;
          line-height: 1.2;

          &.detailsGroup--invoice-date {
            grid-area: date;
          }

          &.detailsGroup--bill-to {
            grid-area: to;
          }

          &.detailsGroup--payment-due {
            grid-area: payment;
          }

          &.detailsGroup--sent-to {
            grid-area: receiver;
          }

          .groupLabel {
            margin-bottom: 12px;
            color: var(--light-three);
            font-size: 12px;
          }

          .groupValue {
            font-weight: 700;
            font-size: 18px;
            color: var(--dark);
          }
        }
      }

      .itemSummary {
        background-color: var(--light-one);
        border-radius: 6px;
        overflow: hidden;

        .summaryHeaders {
          display: none;
        }

        .item {
          display: grid;
          grid-template-areas:
            "name name total"
            "count cost total";
          padding: 24px;
          font-weight: 700;

          .itemName {
            grid-area: name;
            font-size: 12px;
            margin-bottom: 8px;
            color: var(--dark);
          }

          .itemCount {
            grid-area: count;
            color: var(--light-three);
          }

          .itemCost {
            grid-area: cost;
            color: var(--light-three);
          }

          .itemTotal {
            grid-area: total;
            align-self: center;
            color: var(--dark);
          }
        }

        .totalContainer {
          display: flex;
          justify-content: space-between;
          background-color: var(--dark-four);
          padding: 24px;
          color: var(--light);
          margin-top: 24px;

          .totalLabel {
            color: white;
          }

          .totalValue {
            font-size: 16px;
            font-weight: 700;
            color: white;
          }
        }

        .itemListEmpty {
          text-align: center;
          font-size: 14px;
          color: var(--light-three);
          margin: 24px 24px 0 24px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      padding: 42px;

      .detailsTop {
        display: flex;
        justify-content: space-between;

        .address {
          text-align: right;
        }
      }

      .detailsMiddle {
        .detailGroups {
          grid-template-areas:
            "date to receiver receiver"
            "payment to receiver receiver";
        }

        .itemSummary {
          .summaryHeaders {
            padding: 24px 24px 0 24px;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            color: var(--light-three);
          }

          .item {
            grid-template-areas: none;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            align-items: center;

            .itemName,
            .itemCount,
            .itemCost,
            .itemTotal {
              grid-area: unset;
            }
          }
        }
      }
    }
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 6px;
  padding: 12px;

  &::before {
    content: "";
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.pending {
  background-color: #ff8f001a;
  color: #ff8f00;

  &::before {
    background-color: #ff8f00;
  }
}

.paid {
  background-color: #33d69f24;
  color: #33d69f;

  &::before {
    background-color: #33d69f;
  }
}

.draft {
  color: var(--dark);
  background-color: var(--light-one);

  &::before {
    background-color: var(--dark);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 24px;
  column-gap: 4px;
  background-color: var(--light);

  * {
    min-width: auto;
  }

  @media only screen and (min-width: 375px) {
    * {
      flex-grow: 1;
    }
  }

  @media only screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    > * {
      max-width: 140px;
    }
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}
