@import "./variables.scss";

.modal {
  background-color: white;
  padding: 24px;
  border-radius: 6px;
  margin: 0 24px;

  .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .description {
    color: $light-three;
    margin-bottom: 12px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
