@import "./variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000099;

  .modal {
    background-color: white;
    padding: 24px;
    border-radius: 6px;
    margin: 0 24px;

    .title {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 12px;
    }

    .description {
      color: $light-three;
      margin-bottom: 12px;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
    }
  }
}
