@import "./variables.scss";

.noContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  flex: 1;

  img {
    width: 100%;
  }

  h3 {
    margin-bottom: 24px;
  }

  p {
    color: $light-three;

    b {
      font-weight: 700;
    }
  }
}
