.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #00000000;
  z-index: 50;

  &.overlay--fullscreen {
    z-index: 150;
    left: 0;
  }

  @media only screen and (min-width: 1024px) {
    left: 90px;
  }
}
