.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--dark-four);
  overflow: hidden;
  padding-right: 24px;
  box-sizing: border-box;
}

.sidebarLogo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-primary);
  padding: 24px;
  overflow: hidden;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;

  &::after {
    position: absolute;
    content: "";
    background-color: var(--accent-primary-lighter);
    width: 100%;
    height: 100px;
    top: 50%;
    border-top-left-radius: 18px;
  }

  img {
    position: relative;
    z-index: 20;
  }
}

.sidebarBottom {
  display: flex;
  align-items: center;

  .themeSelector {
    position: relative;
    cursor: pointer;

    .darkModeSelector {
      position: absolute;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .lightModeSelector {
      transform: translateY(30px);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      .darkModeSelector {
        transform: translateY(-6px);
      }
    }

    &.themeSelector--dark {
      .darkModeSelector {
        transform: translateY(30px);
        opacity: 0;
      }

      .lightModeSelector {
        transform: translateY(0);
        opacity: 1;
      }

      &:hover {
        .lightModeSelector {
          transform: translateY(-6px);
        }
      }
    }
  }
}

.sidebarDivider {
  height: 100%;
  width: 1px;
  background-color: #494e6e;
  margin: 0 24px;
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    flex-direction: column;
    width: 90px;
    padding-right: 0;
    padding-bottom: 24px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    z-index: 100;
  }

  .sidebarBottom {
    flex-direction: column;
  }

  .sidebarDivider {
    height: 1px;
    width: 90px;
    margin: 24px 0;
  }
}
