.light {
  --accent-primary: #7c5dfa;
  --accent-primary-lighter: #9277ff;
  --accent-primary-light: #7e88c3;
  --accent-secondary: #ec5757;
  --accent-secondary-lighter: #ff9797;

  --dark-one: #0c0e16;
  --dark-two: #141625;
  --dark-three: #1e2139;
  --dark-four: #373b53;

  --light-one: #f8f8fb;
  --light-two: #dfe3fa;
  --light-three: #888eb0;

  --light: white;
  --light-secondary: white;
  --dark: #0c0e16;

  --box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  --box-shadow-strong: 0px 10px 20px rgba(72, 84, 159, 0.25);

  // Variables for specific components
  --loader-color: #7c5dfa;
}

.dark {
  --accent-primary: #7c5dfa;
  --accent-primary-lighter: #9277ff;
  --accent-primary-light: #dfe3fa;
  --accent-secondary: #ec5757;
  --accent-secondary-lighter: #ff9797;

  --dark-one: #0c0e16;
  --dark-two: #141625;
  --dark-three: #1e2139;
  --dark-four: #1e2139;

  --light-one: #141625;
  --light-two: #373b53;
  --light-three: #ffffff;

  --light: #1e2139;
  --light-secondary: #141625;
  --dark: white;

  --box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  --box-shadow-strong: 0px 10px 20px rgba(0, 0, 0, 0.25);

  // Variables for specific components
  --loader-color: #ffffff;
}
