$accent-primary: #7C5DFA;
$accent-primary-lighter: #9277FF;
$accent-primary-light: #7E88C3;
$accent-secondary: #EC5757;
$accent-secondary-lighter: #FF9797;

$dark-one: #0C0E16;
$dark-two: #141625;
$dark-three: #1E2139;
$dark-four: #373B53;

$light-one: #F8F8FB;
$light-two: #DFE3FA;
$light-three: #888EB0;